.project
.cproject
/.settings/
makefile
objects.mk
sources.mk
subdir.mk
/Debug/
/Release/
*.d
*.o
*.a
*.obj
*.exe
*.lib
*.ilk
*.pch
*.pcb
*.dsp
*.dsw
*.aps
*.APS
*.pdb
*.plg
vc60.*
*.res
/.deps/
depcomp
libtool
Makefile.in
aclocal.m4
/autom4te.cache/
configure
/.libs/
Makefile
/m4/Makefile
config.h.in
config.log
config.status
*.la
*.lo
/config.h
/tre-config.h
*.tar
*.gz
/utils/Makefile
stamp-h*
config.h.in~
utils/config.rpath~
/po/
